<div class="navbar-wagon">
  <div class="searchbar navbar-wagon-item">
    <%= material_icon.search.md_36 %>
    <!-- TODO: hidden form -->
  </div>
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "aries-symbol.svg", height: 36 %>
  <% end %>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <%= material_icon.menu.md_36.css_class("dropdown-toggle").html(data: { toggle: "dropdown" }) %>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

