.cards-xs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
.card-xs {
  background: $blue;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  padding: 1em;
}
.card-link {
  bottom: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.card-image-box {
  position: relative;
}
.card-image {
  width: 100%;
}
.card-share {
  position: absolute;
  top: 10px;
  right: 25px;
}
.card-content {
  padding: 1em;
}
