.cards-xs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
.card-xs {
  background: $gray;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  padding: 1em;
}
.card-link {
  bottom: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.card-image {
  width: 100%;
}
.card-content {
  padding: 1em;
  background-color: $red;
}
.card-contact {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}
.card-contact-avatar {
  width: 70px;
  border-radius: 50%;
}
.card-contact-name {
  margin-left: 10px;
}
