<div class="cards-xs">
  <div class="card-xs">
    <%= material_icon.add.md_48 %>
  </div>
  <% @memories.each do |memory| %>
    <div class="card-xs" style='<%= thumb_background(memory.photo) %>'>
      <div class="text-center">item</div>
      <%= link_to '', memory_path(memory), class: 'card-link' %>
    </div>
  <% end %>
</div>

