<div class="cards-xs">
  <% @memories.each do |memory| %>
    <div class="card-xs" style='<%= thumb_background(memory.photo) %>'>
      <div class="text-center"><%= memory.title %></div>
      <%= link_to '', memory_path(memory), class: 'card-link' %>
    </div>
  <% end %>
</div>

